// studio - views - container
// ==========================
// The container view renders xblocks at three levels: Page Level, Nesting Level, and Element Level.

// For containers rendered at the element level, the container is rendered in a way that allows the user to navigate to a separate container page for that container making its children populate the nesting and element levels.

// ====================

// UI: container page view
.view-container {
  @extend %two-col-1;

  .wrapper-mast {

    .mast {
      border-bottom: none;
      padding-bottom: 0;

      .page-header-title {
        @extend %t-title;
        @include font-size(28);
        @include line-height(32);
        font-weight: 600;
      }

      .page-header-title-edit {
        @extend %t-title4;
        background: none repeat scroll 0 0 white;
        border: 0;
        box-shadow: 0 0 2px 2px $shadow inset;
        font-weight: 600;
      }
    }
  }

  .content-primary {

    .no-container-content {
      @extend %no-content;

      // custom rules to reuse xblock validation styling in ui-well context
      .icon-warning-sign {
        display: none;
      }

      .edit-button {
        @include green-button;
        @extend %t-action4;
        padding: 8px 20px 10px;
        text-align: center;
        margin: ($baseline/2) 0 ($baseline/2) $baseline;
      }
    }

    // dragging bits
    .ui-sortable-helper {

      article {
        display: none;
      }
    }

    // drop target
    .component-placeholder {
      height: ($baseline*2.5);
      opacity: .5;
      margin: $baseline;
      background-color: $gray-l5;
      border-radius: ($baseline/2);
      border: 2px dashed $gray-l2;
    }
  }

  .content-supplementary {

    label {
      @extend %t-title8;
    }

    .bit-publishing {
      @extend %bar-module;

      &.published {
        @extend %bar-module-blue;
      }
    }

    // location widget
    .unit-location {
      @extend %bar-module;

      .wrapper-unit-id {

        .unit-id-value {
          @extend %t-copy-sub1;
          display: inline-block;
          margin: ($baseline/4) 0;
        }

        .tip {
          @extend %t-copy-sub2;
          display: inline-block;
          margin: ($baseline/4) 0;
          color: $gray-l2;
        }
      }

      .wrapper-unit-tree-location {

        .draggable-drop-indicator {
          display: none;
        }

        // need to explicitly set this since the html sturcture is different than the others
        .section-name:hover {
          background: $blue-l5;
          color: $blue;
        }

        .subsection,
        .courseware-unit {
          margin: ($baseline/4) 0 0 ($baseline*.75);
        }

        .courseware-unit .section-item {
          background-color: transparent;
        }

        .section-item {
          @include transition(background $tmg-avg ease-in-out 0);
          @include box-sizing(border-box);
          @extend %t-copy-sub2;
          display: inline-block;
          width: 100%;
          background: $gray-l5;
          padding: 6px 8px 8px 16px;
          vertical-align: top;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: $gray;

          &:hover {
            background: $blue-l5;
            color: $blue;
          }

          &.editing {
            background-color: $orange-l3;
          }

          // TODO: update these once we have different pub states
          .public-item {
            color: $black;
          }

          .private-item {
            color: $gray-l1;
          }

          .draft-item {
            color: $yellow-d1;
          }

          .public-item:hover,
          .private-item:hover,
          .draft-item:hover {
            color: $blue;
          }

          .draft-item:after,
          .public-item:after,
          .private-item:after {
            @include font-size(9);
            margin-left: 3px;
            font-weight: 600;
            text-transform: uppercase;
          }

          .draft-item:after {
            content: "- draft";
          }

          .private-item:after {
            content: "- private";
          }
        }

        .subsection > .section-item:hover {
          background-color: $gray-l5;
          color: inherit;
        }

        .new-unit-item {
          @extend %ui-btn-flat-outline;
          @extend %t-action4;
          width: 90%;
          margin: 0 0 ($baseline/2) ($baseline/4);
          border: 1px solid transparent;
          padding: ($baseline/4) ($baseline/2);
          font-weight: normal;
          color: $gray-l2;
          text-align: left;

          &:hover {
            box-shadow: none;
            background-image: none;
          }
        }
      }
    }
  }
}


