// studio - developer
// ====================
// NOTE: use this area for any developer-needed or created styling that needs to be refactored into patterns or visually polished. Please list any template/view that your styles reference when definining them (example below):

// Views: Login, Sign Up
// .crazy-new-feature {
//   background: transparent;
// }

// --------------------

// Views: publish-info (unit editing sidebar widget)
#publish-info {
  margin-bottom: 20px;
  background-color: #fff;
}
.wrapper-last-publish {
  padding: 15px;
}
.wrapper-last-publish .meta {
  color: #989898;
  font-size: 1.2rem;
  line-height: 1.776rem;
}